include ../navToCalcs/navToCalcs

mixin menu
    menu.menu
        .menu__inner
            +navToCalcs().menu__top
            ul.menu__list
                li.menu__list-item
                    a(href="#aboutCompany").menu__list-link О компании
                li.menu__list-item
                    a(href="#serviceCentres").menu__list-link Сервисные центры
                li.menu__list-item
                    a(href="#products").menu__list-link Продукция
                li.menu__list-item
                    a(href="#resources").menu__list-link Сертификаты</br> и другие материалы
                li.menu__list-item
                    a(href="#projectsSlider").menu__list-link Выполненные проекты
