include ../ui/button/button

mixin dkcPartners
    .dkcPartners
        .wrapper.dkcPartners__wrapper
            .dkcPartners__title.
                Партнеры «IT
                League: UPS»
            .dkcPartners__inner
                p.
                    Одним из основных условий устойчивой и безотказной работы источников бесперебойного питания (ИБП, UPS) является грамотное проведение пуско-наладочных работ оборудования.  ИБП относятся к классу технически сложных устройств, поэтому пуско-наладочные работы (ПНР) должны выполняться только технически квалифицированным персоналом.
                p.
                    «IT League: UPS» – это новый профессиональный клуб высококвалифицированных инжиниринговых компаний и системных интеграторов, которые обладают необходимыми профессиональными знаниями и имеют успешный опыт работы с системами бесперебойного энергоснабжения ДКС.
            +button('Вступить в клуб').openModalJoinToClub
