@use '../../static/styles/vars';

.products {
    width: 100%;
    overflow: hidden;
    &__wrapper {
        display: flex;
        height: 629px;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
            height: auto;
            align-items: flex-start;
            padding-bottom: 63px;
        }
    }

    &__header {
        padding-top: 64px;
        padding-bottom: 32px;
        width: 379px;
        border-right: 1px solid $SUPER_LIGHT_GREY;
        flex-shrink: 0;
        @media screen and (max-width: 1200px) {
            width: 100%;
            padding-top: 65px;
            border-right: none;
            border-bottom: 1px solid $SUPER_LIGHT_GREY;
            padding-bottom: 0;
        }

        @media screen and (max-width: 767px) {
            padding-top: 64px;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 42px;
        line-height: 51px;
        margin-bottom: 24px;
        @media screen and (max-width: 1200px) {
            font-size: 34px;
            line-height: 41px;
            margin-bottom: 23px;
        }
        @media screen and (max-width: 767px) {
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 33px;
        }
    }

    &__slider-arrows {
        display: flex;
        margin-bottom: 42px;
        @media screen and (max-width: 1200px) {
            margin-bottom: 33px;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
        .item {
            &:first-child {
                transform: rotate(180deg);
                margin-right: -1px;
            }
        }
    }

    &__groups {
        margin-bottom: 82px;
        @media screen and (max-width: 1200px) {
            margin-bottom: 0;
        }

        .title {
            font-size: 18px;
            line-height: 30px;
            color: $DARKEN_GREY;
            margin-bottom: 23px;

            @media screen and (max-width: 1200px) {
                font-size: 16px;
                line-height: 30px;
                margin-bottom: 6px;
            }

            @media screen and (max-width: 767px) {
                font-size: 15px;
                line-height: 30px;
            }
        }

        .inner {
            @media screen and (max-width: 1200px) {
                display: flex;
                gap: 18px;
            }
            @media screen and (max-width: 767px) {
                gap: 16px;
                overflow-x: scroll;
            }
            .item {
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: $DARKEN_GREY;
                border-left: 2px solid transparent;
                padding-left: 16px;
                cursor: pointer;

                @media screen and (max-width: 1200px) {
                    border-left: none;
                    border-bottom: 2px solid transparent;
                    padding-left: 0;
                    padding-bottom: 6px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 12px;
                    line-height: 15px;
                    white-space: nowrap;
                }

                &:not(:last-child) {
                    margin-bottom: 23px;
                    @media screen and (max-width: 1200px) {
                        margin-bottom: 0;
                    }
                }

                &.is-active {
                    border-color: $MAIN_RED;
                    color: $MAIN_BLACK;
                }
            }
        }
    }

    &__slider {
        padding-top: 64px;
        padding-bottom: 32px;
        flex-shrink: 0;
        width: calc(((100vw - 1200px) / 2) + (1200px - 379px));
        @media screen and (max-width: 1200px) {
            height: 491px;
            padding-top: 24px;
            margin-bottom: 32px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 0;
            padding-bottom: 0;
            height: 477px;
        }
    }
    &__download1 {
        @media screen and (max-width: 1200px) {
            display: none !important;
        }
    }
    &__download2 {
        display: none;
        @media screen and (max-width: 1200px) {
            display: flex;
        }
    }

    &__item {
    }
    &__hidden {
        display: none;
    }
}

