include ../ui/sliderArrow/sliderArrow
include ../ui/buttonDownload/buttonDownload
include ../ui/productCard/productCard

mixin products
    .products#products
        .wrapper.products__wrapper
            .products__header
                .products__title Продукция
                .products__slider-arrows
                    +sliderArrow().item.products__slider-prev
                    +sliderArrow().item.products__slider-next
                .products__groups
                    .title Мощность, кВТ
                    .inner
                        //.item.is-active 1 000 – 10 000
                        //.item 10 000 – 100 000
                        //.item 100 000 – 200 000
                        //.item 200 000 – 10000
                +buttonDownload('Скачать брошюру').products__download1
            .products__slider
            +buttonDownload('Скачать брошюру').products__download2
            .products__hidden
                .group
                    .title 1 000 – 10 000
                    .body
                        +productCard('1-10 Solo MD SOLO MmB 1').products__item
                        +productCard('1-10 Solo MD SOLO MmB 2').products__item
                        +productCard('1-10 Solo MD SOLO MmB 3').products__item
                .group
                    .title 10 000 – 100 000
                    .body
                        +productCard('10-100 Solo MD SOLO MmB 4').products__item
                        +productCard('10-100 Solo MD SOLO MmB 5').products__item
                        +productCard('10-100 Solo MD SOLO MmB 6').products__item
                .group
                    .title 100 000 – 200 000
                    .body
                        +productCard('100-200 Solo MD SOLO MmB 7').products__item
                        +productCard('100-200 Solo MD SOLO MmB 8').products__item
                        +productCard('100-200 Solo MD SOLO MmB 9').products__item
                .group
                    .title 200 000 – 1000 000
                    .body
                        +productCard('200-1000 Solo MD SOLO MmB 7').products__item
                        +productCard('200-1000 Solo MD SOLO MmB 7').products__item
                        +productCard('200-2000 Solo MD SOLO MmB 7').products__item
