include ../ui/sliderArrow/sliderArrow
include ../ui/buttonDownload/buttonDownload

mixin products
    .products#products
        .wrapper.products__wrapper
            .products__header
                .products__title Продукция
                .products__slider-arrows
                    +sliderArrow().item.products__slider-prev
                    +sliderArrow().item.products__slider-next
                .products__groups
                    .title Мощность, кВТ
                    .inner
                        //.item.is-active 1 000 – 10 000
                        //.item 10 000 – 100 000
                        //.item 100 000 – 200 000
                        //.item 200 000 – 10000
                +buttonDownload('Скачать брошюру').products__download1
            .products__slider
            +buttonDownload('Скачать брошюру').products__download2
            .products__hidden
                .group
                    .title 1 000 – 10 000
                    .body
                        .product-card.products__item
                            .product-card__inner
                                p.title Solo MD SOLO MmB 1
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/1.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg
                        .product-card.products__item
                            .product-card__inner
                                p.title 2 Solo MD SOLO MmB
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/2.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg

                        .product-card.products__item
                            .product-card__inner
                                p.title 3 Solo MD SOLO MmB
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/1.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg

                .group
                    .title 10 000 – 100 000
                    .body
                        .product-card.products__item
                            .product-card__inner
                                p.title 4 Solo MD SOLO MmB
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/1.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg
                        .product-card.products__item
                            .product-card__inner
                                p.title 5 Solo MD SOLO MmB
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/2.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg

                        .product-card.products__item
                            .product-card__inner
                                p.title 6 Solo MD SOLO MmB
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/1.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg
                .group
                    .title 100 000 – 200 000
                    .body
                        .product-card.products__item
                            .product-card__inner
                                p.title 7 Solo MD SOLO MmB
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/1.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg
                        .product-card.products__item
                            .product-card__inner
                                p.title 8 Solo MD SOLO MmB
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/2.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg

                        .product-card.products__item
                            .product-card__inner
                                p.title 9 Solo MD SOLO MmB
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/1.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg

                .group
                    .title 200 000 – 10000
                    .body
                        .product-card.products__item
                            .product-card__inner
                                p.title 10 Solo MD SOLO MmB
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/1.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg
                        .product-card.products__item
                            .product-card__inner
                                p.title 11 Solo MD SOLO MmB
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/2.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg

                        .product-card.products__item
                            .product-card__inner
                                p.title 12 Solo MD SOLO MmB
                                .params
                                    .item
                                        .value 1/1
                                        .caption Фазность
                                    .item
                                        .value Solo MD
                                        .caption Серия
                                    .item
                                        .value 1000 кВТ
                                        .caption Мощность
                                .image
                                    img(src="../static/img/content/products/1.png")
                                .bot
                                    .more-info
                                        span Подробнее
                                        .arrow-with-shaft
                                            include ../../static/img/icons/arrow-with-shaft.svg
                                        .arrow
                                            include ../../static/img/icons/arrow.svg

