mixin aboutCompany
    .aboutCompany#aboutCompany
        .aboutCompany__image
        .aboutCompany__text
            .title О компании
            p Компания ДКС, основанная в августе 1998 года, на сегодняшний день входит в число крупнейших производителей кабеленесущих систем и низковольтного оборудования в России и Европе.
            p.gray.
                Развивая свое производство, дистрибьюторскую сеть и новые направления, ДКС выполняет миссию по обеспечению мирового рынка электротехнических изделий высококачественной продукцией.
                </br></br>
                Импортное оборудование, квалифицированные специалисты, превосходное сырье позволили ДКС с первых дней представлять на рынке первоклассную продукцию, которая отвечает самым современным требованиям мировых стандартов.
