{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        "@babel/plugin-transform-react-jsx"
    ],
    "ignore": [
        "**/babel_ignore_*.js",
        "*/js/framework/*.js",
        "*/js/libraries/*.js",
        "*/js/plugins/*.js",
        "*/js/separate-js/*.js"
    ]
}
