// COLORS
$MAIN_BLACK: #080808;
$MAIN_RED: #ec1c24;
$CORAL: #eb8f92;
$BG: #ebf0f3;
$WHITE: #fff;

// COLORS GRAY
$DARKEN_GREY: #6f6f6f;
$MEDIUM_GREY: #9A9A9A;
$LIGHT_GREY: #d6d6d6;
$SUPER_LIGHT_GREY: #f2f2f2;
