mixin navToCalcs(mode)
    ul.navToCalcs(class!=attributes.class + (mode ? ` button--${mode}` : ''))
        li.navToCalcs__item
            a(href="#configurator").navToCalcs__item-link
                include ../../static/img/icons/conf.svg
                span Конфигуратор
        li.navToCalcs__item
            a(href="#captureForm").navToCalcs__item-link
                include ../../static/img/icons/calc.svg
                span Расчет стоимости
