@use '../../../static/styles/vars';

.buttonDownload {
    text-transform: uppercase;
    display: flex;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    transition: color 0.15s linear, background-color 0.15s linear;
    border: 1px solid $MAIN_RED;

    &__icon {
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $WHITE;
        background-color: $MAIN_RED;
    }
    &:hover,
    &:active {
        background-color: $MAIN_RED;
        color: $WHITE;
    }
    &__text {
        padding: 18px 23px 18px 24px;
    }
    // dark
    &--dark {
        border: 1px solid $MAIN_BLACK;
    }
    &--dark &__icon {
        background-color: $MAIN_BLACK;
    }
    &--dark:hover,
    &--dark:active {
        background-color: $MAIN_BLACK;
        color: $WHITE;
    }
    // dark-reverse
    &--dark-reverse {
        border:none;
        background-color: $MAIN_BLACK;
        color: $WHITE;
    }
    &--dark-reverse &__icon {
        background-color: $MAIN_RED;
    }
    &--dark-reverse:hover,
    &--dark-reverse:active {
        background-color: $MAIN_RED;
        color: $WHITE;
    }
}
