mixin welcome
    .welcome
        .welcome__logo
            include ../../static/images/icons/logo.svg
        .welcome__caption Вы являетесь
        ul.welcome__list
            li.welcome__list-item(data-disable-class="mode-customer")
                p Заказчиком
            li.welcome__list-item(data-disable-class="mode-planner")
                p Проектировщиком
            li.welcome__list-item(data-disable-class="mode-system-intergrader")
                p Системным интергратором
            li.welcome__list-item(data-disable-class="mode-distributor")
                p Дистрибьютером
        .welcome__empty-option(data-disable-class="mode-none") Затрудняюсь ответить