mixin social(a)
    ul.social(class!=attributes.class)
        li.social__item
            a(href="/").social__link
                include ../../../static/images/icons/soc_facebook.svg
        li.social__item
            a(href="/").social__link
                include ../../../static/images/icons/soc_inst.svg
        li.social__item
            a(href="/").social__link
                include ../../../static/images/icons/soc_twitter.svg
        li.social__item
            a(href="/").social__link
                include ../../../static/images/icons/soc_vk.svg