mixin serviceCentres
    .serviceCentres
        .wrapper.serviceCentres__wrapper
            .serviceCentres__title Сервисные</br> центры
            .serviceCentres__description
                .serviceCentres__description-t1
                    p Сервисное обслуживание ИБП мощностью до 3 кВА
                    p <b>Внимание:</b> гарантийные талоны присутствуют в коробках ИБП в печатном виде.
                .serviceCentres__description-t2
                    p Сервисное обслуживание ИБП мощностью более 3кВА – <a href="mailto:service@dkc.ru">service@dkc.ru</a>
                    p Тех поддержка: <a href="tel:8-800-000-0000">8-800-000-0000</a>
            #serviceCentresMap
