mixin advantages
    .advantages
        .wrapper.advantages__wrapper
            .advantages__image
            video(preload autobuffer loop autoplay width="600" height="600").advantages__video
                source(src="/video_boomerang.mp4")
            .advantages__content
                .title Преимущества
                .advantage.advantages__item
                    .advantage__icon
                        include ../../static/img/content/advantages/1.svg
                    .advantage__title Лидер электротехнического рынка
                    ul.advantage__list
                        li Собственное производство
                        li Соответствие международным стандартам
                        li Гарантия стабильности цен
                        li Склады на территории РФ
                        li Кастомизация
                .advantage.advantages__item
                    .advantage__icon
                        include ../../static/img/content/advantages/2.svg
                    .advantage__title Комплексные IT-решения
                    ul.advantage__list
                        li Медная и оптическая подсистемы СКС
                        li Навесные и напольные IT-шкафы
                        li Мини-ЦОД «NetOne»
                        li Системы для построения кабельных трасс
                        li Системы для организации рабочих мест
                .advantage.advantages__item
                    .advantage__icon
                        include ../../static/img/content/advantages/3.svg
                    .advantage__title Сервисы
                    ul.advantage__list
                        li Обучение и сертификация партнеров
                        li Расширенная гарантия
                        li Техническая служба поддержки 24 часа
                        li Собственная сервисная служба
