@use '../../static/styles/vars';

.advantages {
    background-color: $MAIN_BLACK;
    color: $WHITE;
    padding-top: 75px;
    padding-bottom: 56px;

    @media screen and (max-width: 1200px) {
        padding-top: 76px;
        padding-bottom: 70px;
    }
    @media screen and (max-width: 768px) {
        padding-top: 64px;
    }
    &__wrapper {
        display: flex;
        position: relative;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            z-index: 0;
        }
    }
    &__content {
        z-index: 1;
        @media screen and (max-width: 1200px) {
            width: 50%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            z-index: 1;
        }
        .title {
            font-weight: bold;
            font-size: 42px;
            line-height: 51px;
            margin-bottom: 63px;

            @media screen and (max-width: 1200px) {
                font-size: 34px;
                line-height: 41px;
                margin-bottom: 72px;
            }

            @media screen and (max-width: 768px) {
                font-size: 28px;
                line-height: 34px;
            }
        }
    }
    &__video {
        position: sticky;
        top: calc(50% - (450px / 2));
        right: 0px;
        //border: 1px solid blue;
        margin: 0px auto;

        @media screen and (max-width: 1200px) {
            top: 74px;
            right: 93px;
            width: 189px;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 103px;

            @media screen and (max-width: 1200px) {
                margin-bottom: 85px;
            }
        }
    }
}

.advantage {
    &__icon {
        margin-bottom: 14px;
    }
    &__title {
        padding-left: 26px;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 16px;
    }
    &__list {
        font-size: 16px;
        line-height: 28px;
        opacity: 0.7;
        li {
            padding-left: 26px;
            max-width: 296px;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 8px;
            }
            &:before {
                content: '';
                width: 6px;
                height: 6px;
                background: $MAIN_RED;
                margin-right: 16px;
                display: inline-block;
                margin-left: 3px;
                position: absolute;
                left: 0;
                top: 10px;
            }
        }
    }
}
