.advantages {
    background-color: $MAIN_BLACK;
    color: $WHITE;
    padding-top: 75px;
    padding-bottom: 56px;

    @media screen and (max-width: 1200px) {
        padding-top: 76px;
        padding-bottom: 70px;
    }
    @media screen and (max-width: 767px) {
        padding-top: 64px;
    }
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 767px) {
            z-index: 0;
        }
    }
    &__content {
        z-index: 1;
        position: relative;
        margin-top: -600px;
        @media screen and (max-width: 1200px) {
            width: 50%;
        }

        @media screen and (max-width: 767px) {
            width: calc(100vw - 120px);
            z-index: 1;
            flex-shrink: 0;
            margin-top: -100%;
        }
        .title {
            font-weight: bold;
            font-size: 42px;
            line-height: 51px;
            margin-bottom: 63px;

            @media screen and (max-width: 1200px) {
                font-size: 34px;
                line-height: 41px;
                margin-bottom: 72px;
            }

            @media screen and (max-width: 767px) {
                font-size: 28px;
                line-height: 34px;
            }
        }
    }
    &__video {
        align-self: flex-end;
        position: sticky;
        top: calc(50% - (450px / 2));
        right: 0;
        //border: 1px solid blue;
        opacity: 0.65;
        margin-left: auto;

        @media screen and (max-width: 1200px) {
            top: 74px;
            right: 93px;
            //width: 300px;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &__image {
        position: sticky;
        opacity: 0.65;
        display: none;
        width: 100%;
        padding-top: 100%;
        background-image: url('/static/img/content/sequence-dkc-model/1.jpg');
        top: 74px;
        right: 93px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @media screen and (max-width: 767px) {
            display: block;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 103px;

            @media screen and (max-width: 1200px) {
                margin-bottom: 85px;
            }
        }
    }
}

.advantage {
    &__icon {
        margin-bottom: 14px;
    }
    &__title {
        padding-left: 26px;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 16px;
    }
    &__list {
        font-size: 16px;
        line-height: 28px;
        opacity: 0.7;
        li {
            padding-left: 26px;
            max-width: 296px;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 8px;
            }
            &:before {
                content: '';
                width: 6px;
                height: 6px;
                background: $MAIN_RED;
                margin-right: 16px;
                display: inline-block;
                margin-left: 3px;
                position: absolute;
                left: 0;
                top: 10px;
            }
        }
    }
}
