mixin advertisingMaterials
    .advertisingMaterials
        .wrapper.advertisingMaterials__wrapper
            .title Рекламные</br> материалы
            .inner
                .advertisingMaterials__item
                    img(src="static/img/content/da/1.jpg")
                    p Флагманская серия источников бесперебойного питания TRIO XT / XTG
                    a(href="#").download
                        span Скачать
                        .arrow-with-shaft
                            include ../../static/img/icons/arrow-with-shaft.svg
                        .arrow
                            include ../../static/img/icons/arrow.svg
                .advertisingMaterials__item
                    img(src="static/img/content/da/2.jpg")
                    p Источники бесперебойного питания "RAM batt" Перечень продукции
                    a(href="#").download
                        span Скачать
                        .arrow-with-shaft
                            include ../../static/img/icons/arrow-with-shaft.svg
                        .arrow
                            include ../../static/img/icons/arrow.svg
                .advertisingMaterials__item
                    img(src="static/img/content/da/3.jpg")
                    p IT-решения ДКС для ЦОД
                    a(href="#").download
                        span Скачать
                        .arrow-with-shaft
                            include ../../static/img/icons/arrow-with-shaft.svg
                        .arrow
                            include ../../static/img/icons/arrow.svg
