@use '../../../static/styles/vars';

.sliderArrow {
    background: vars.$WHITE;
    border: 1px solid vars.$MEDIUM_GREY;
    color: vars.$MEDIUM_GREY;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.15s linear, border-color 0.15s linear,
        color 0.15s linear;
    &:hover,
    &:active {
        background-color: vars.$MAIN_BLACK;
        border-color: vars.$MAIN_BLACK;
        color: vars.$WHITE;
    }
}
