mixin dkcDescription
    .dkcDescription
        .wrapper.dkcDescription__wrapper
            .dkcDescription__title Современное оборудование нуждается в <span>качественном</span> непрерывном электроснабжении.
            .dkcDescription__inner
                p.
                    Любые помехи, даже возникающие время от времени, оказывают пагубное влияние на электронные устройства.
                    Для защиты критически важного оборудования и сохранения данных при исчезновении питающего напряжения используются источники бесперебойного питания.
                p.
                    Источники бесперебойного питания ДКС предназначены для предотвращения опасных ситуаций, связанных с возникновением сбоев в электросети из-за кратковременных и долговременных отключений, падения напряжения и перенапряжения, импульсных сверхтоков, искажений и несимметрий тока и напряжения.