mixin footer
    footer.footer
        .wrapper.footer__wrapper
            .footer__logo
                .footer__logo-icon
                    include ../../static/images/icons/logo.svg
                .footer__logo-copyright © 2021 АО «ДКС»
            nav.footer__navigation
                ul.footer__navigation-list
                    li.footer__navigation-item
                        a(href="#").footer__navigation-link Продукция
                    li.footer__navigation-item
                        a(href="#").footer__navigation-link Конфигуратор
                    li.footer__navigation-item
                        a(href="#").footer__navigation-link Запрос расчета
                    li.footer__navigation-item
                        a(href="#").footer__navigation-link Ресурсы
                    li.footer__navigation-item
                        a(href="#").footer__navigation-link Выполненные проекты
                    li.footer__navigation-item
                        a(href="#").footer__navigation-link Партнеры
                    li.footer__navigation-item
                        a(href="#").footer__navigation-link Сервисные центры
                    li.footer__navigation-item
                        a(href="#").footer__navigation-link О компании