@use '../../static/styles/vars';

.captureForm {
    color: $WHITE;
    overflow: hidden;
    &__wrapper {
        display: flex;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        & > * {
            width: 50%;
            flex-shrink: 0;
            flex-grow: 0;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
    &__request-calculate {
        position: relative;
        padding-top: 64px;
        padding-bottom: 64px;
        z-index: 1;
        @media screen and (max-width: 768px) {
            padding-bottom: 23px;
        }
        &:before {
            content: '';
            z-index: -1;
            width: calc(100% + ((100vw - 1200px) / 2));
            display: block;
            background-color: $MAIN_RED;
            height: 100%;
            top: 0;
            right: 0;
            position: absolute;
            @media screen and (max-width: 1200px) {
                width: 50vw;
            }
            @media screen and (max-width: 768px) {
                width: 100vw;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .title {
            font-weight: bold;
            font-size: 42px;
            line-height: 51px;
            margin-bottom: 16px;
            @media screen and (max-width: 1200px) {
                font-size: 36px;
                line-height: 44px;
                margin-bottom: 24px;
                max-width: 88%;
            }
            @media screen and (max-width: 768px) {
                font-size: 28px;
                line-height: 34px;
            }
        }
        .description {
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 149px;
            max-width: 469px;
            width: 100%;
            @media screen and (max-width: 1200px) {
                padding-right: 24px;
                margin-bottom: 96px;
            }
            @media screen and (max-width: 768px) {
                font-size: 15px;
                line-height: 24px;
                padding-right: 0;
                margin-bottom: 56px;
            }
            a {
                position: relative;
                display: inline-block;
                &:after {
                    content: '';
                    display: block;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    border-bottom: 1px solid $WHITE;
                    position: absolute;
                }
            }
        }
        .triangle {
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(0, -50%);
            color: $MAIN_RED;
            width: 27px;
            height: 48px;
            pointer-events: none;
            @media screen and (max-width: 768px) {
                top: 100%;
                left: 50%;
                transform: rotate(90deg) translate(-50%, 0);
            }
        }
    }
    &__form {
        display: flex;
        form {
            position: relative;
            padding-top: 45px;
            padding-bottom: 64px;
            z-index: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 69px;
            align-content: flex-start;

            @media screen and (max-width: 1200px) {
                padding-left: 64px;
                padding-top: 62px;
            }
            @media screen and (max-width: 768px) {
                padding-left: 0;
            }
            @media screen and (max-width: 768px) {
                padding-bottom: 24px;
            }
            &:before {
                content: '';
                z-index: -1;
                width: calc(100% + ((100vw - 1200px) / 2));
                display: block;
                background-color: $MAIN_BLACK;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                @media screen and (max-width: 1200px) {
                    width: 50vw;
                }
                @media screen and (max-width: 768px) {
                    width: 100vw;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    &__input {
        width: calc(50% - 22px);
        margin-bottom: 26px;
        @media screen and (max-width: 1200px) {
            width: 100%;
            margin-bottom: 11px;
        }
    }
    &__dropZone {
        height: 120px;
        width: 100%;
        border: 1px dashed $DARKEN_GREY;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 23px;
        cursor: pointer;
        @media screen and (max-width: 1200px) {
            height: 99px;
            margin-top: 21px;
        }
        @media screen and (max-width: 768px) {
            height: 120px;
        }
    }

    &__filesList {
        padding-top: 15px;
        .title {
            margin-bottom: 5px;
        }
    }
    &__submit {
        margin-top: 54px;
        @media screen and (max-width: 1200px) {
            margin-top: 46px;
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            margin-top: 64px;
        }
    }
}
