include ../ui/input/input
include ../ui/button/button

mixin configurator
    .configurator
        .wrapper.configurator__wrapper
            .configurator__title Конфигуратор
            .configurator__row
                .configurator__row-caption
                    p Выберите тип выхода
                .configurator__row-inner
                    .option.configurator__row-option.is-active
                        .option__icon
                            include ../../static/images/icons/configurator/1.svg
                        p.option__caption Однофазный
                    .option.configurator__row-option
                        .option__icon
                            include ../../static/images/icons/configurator/2.svg
                        p.option__caption Трехфазный
            .configurator__row
                .configurator__row-caption
                    p Укажите технологию
                .configurator__row-inner
                    .option.configurator__row-option.is-active
                        .option__icon
                            include ../../static/images/icons/configurator/3.svg
                        p.option__caption Линейно-интерактивная
                    .option.configurator__row-option
                        .option__icon
                            include ../../static/images/icons/configurator/4.svg
                        p.option__caption Двойного преобразования
            .configurator__row
                .configurator__row-caption
                    p Выберите Конструктивное исполнение
                .configurator__row-inner
                    .option.configurator__row-option.is-active
                        .option__icon
                            include ../../static/images/icons/configurator/5.svg
                        p.option__caption В виде башни
                    .option.configurator__row-option
                        .option__icon
                            include ../../static/images/icons/configurator/6.svg
                        p.option__caption В виде стойки
            .configurator__row
                .configurator__row-caption
                    p Выберите тип Выходных разъемов
                .configurator__row-inner
                    .option.configurator__row-option.is-active
                        .option__icon
                            include ../../static/images/icons/configurator/7.svg
                        p.option__caption IEC
                    .option.configurator__row-option
                        .option__icon
                            include ../../static/images/icons/configurator/8.svg
                        p.option__caption Schuko
                    .option.configurator__row-option
                        .option__icon
                            include ../../static/images/icons/configurator/9.svg
                        p.option__caption Клеммы
            form.configurator__footer-form
                +input('Укажите необходимую мощность (квт)', false, '0, квт').configurator__footer-form-input
                +input('Время автономной работы', true).configurator__footer-form-input
                +button('Подобрать ИБП').configurator__footer-form-submit

