include ../ui/buttonDownload/buttonDownload

mixin projectsSlider
    .projectsSlider
        .projectsSlider__slider
            .projectsSlider__slider-item
                img(src="../static/images/content/projects-slider/1.jpg")
            .projectsSlider__slider-item
                img(src="../static/images/content/projects-slider/2.jpg")
            .projectsSlider__slider-item
                img(src="../static/images/content/projects-slider/3.jpg")
        .wrapper.projectsSlider__wrapper
            .title Выполненные</br> проекты
            .arrows
                +sliderArrow().prev
                +sliderArrow().next
            .contentSlider
                .contentSlider__item
                    .title ЖК «Гринада»
                    .caption ЖК «Гринада» – это комплекс комфорт-класса в районе Москвы Северное Бутово. Бесперебойная работа электропитания жилого квартала обеспечивается с помощью решений ДКС - модификации серий ИБП Solo MD на 4 кВА и Small Basic на 1 кВА.
                    .params
                        .item
                            .caption Город
                            .value Москва
                        .item
                            .caption Год
                            .value 2019
                        .item
                            .caption Модельный ряд
                            .value Solo MD
                .contentSlider__item
                    .title ЖК «Гринада» 2
                    .caption ЖК «Гринада» – это комплекс комфорт-класса в районе Москвы Северное Бутово. Бесперебойная работа электропитания жилого квартала обеспечивается с помощью решений ДКС - модификации серий ИБП Solo MD на 4 кВА и Small Basic на 1 кВА.
                    .params
                        .item
                            .caption Город
                            .value Москва
                        .item
                            .caption Год
                            .value 2019
                        .item
                            .caption Модельный ряд
                            .value Solo MD
                .contentSlider__item
                    .title ЖК «Гринада» 3
                    .caption ЖК «Гринада» – это комплекс комфорт-класса в районе Москвы Северное Бутово. Бесперебойная работа электропитания жилого квартала обеспечивается с помощью решений ДКС - модификации серий ИБП Solo MD на 4 кВА и Small Basic на 1 кВА.
                    .params
                        .item
                            .caption Город
                            .value Москва
                        .item
                            .caption Год
                            .value 2019
                        .item
                            .caption Модельный ряд
                            .value Solo MD
        +buttonDownload('Скачать референс лист', 'dark-reverse').projectsSlider__download